body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    text-decoration: none;
    padding-left: 20%;
}

h1 {
    font-weight: bold;
}

p:nth-of-type(1) {
    font-size: 0.7em;
    color: grey;
}

#history {
    padding-top: 1.5em;
    font-size: 2em;
    color: black;
    font-weight: bold;
}

#search {
    border: 2px solid darkseagreen;
    background-color: forestgreen;
    color: white;
}

#gcard {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}

#ycard {
    background-color: red;
    color: white;
    border-radius: 5px;
}

#tcard {
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}

#icard {
    background-color: mediumpurple;
    color: white;
    border-radius: 5px;
}

#cardbutton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 30px;
}

a:any-link {
    padding: 5px 10px 10px 10px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}