body {
    margin: 0;
    background-color: #313131;
    color: whitesmoke;
    box-sizing: border-box;
}

.header {
    background-color: #181818;
    padding: 1px;
    text-align: center;
}

.nav {
    overflow: hidden;
    background-color: #9d4f4f;
    width: 100%;
}

.nav > a {
    float: left;
    display: block;
    text-align: center;
    padding: 13px 13px;
}

.nav > a:hover {
    background-color: indianred;
}

.column {
    width: 20%;
    margin: auto;
    background-color: #9d4f4f;
    border: 5px solid black;
    border-radius: 10px;
    display: inline-grid;
    padding: 10px 10px 10px 10px;
    word-wrap: break-word;
    position: relative;
    left:25%;
}

.row {
    padding-top: 20px;
}

.column > a:any-link {
    color: #181818;
}

.column > a:any-link:hover {
    color: indigo;
}

.nav > a:any-link {
    color: whitesmoke;
    text-decoration: none;
}